@import "bower_components/neat/app/assets/stylesheets/_neat.scss";

$radius: 5px;
$controls_dim: 60px;
$black: #4C4E50;
$blue: #134880;
$grey: #DDDDDD;

$mobile: new-breakpoint(max-width 640px 4); //Neat new-breakpoint funkcija, 4-broj columni koji predstavljaju cijeli width ekrana

.two-row-slider{
    @include outer-container(100%); //Neat outer-container mixin u koji 'spanamo' columne
    margin: 60px 0;
    .images-container{
        @include span-columns(8); //Neat mixin za width 8/12
        @include media($mobile) { //Neat mixin za @media
            @include span-columns(4);
        }
        .images-grid{
            overflow: hidden; //Kod animacije pomaka se neće prikazati scrollbar
            position: relative;
            padding-left: 5px;
            margin: 0;
            @include media($mobile) { 
                margin-left: -15px; //Margin kod responsiva
            }
            .row-1,.row-2{
                @include clearfix; //Neat mixin koji dodaje pseudo::after za 'clear' floating elemenata
                overflow: hidden; //Kada animiramo da ne izlazi iz div-a
                width: auto;
            }
            .slider-row-1,.slider-row-2{
                position: relative; //Da bi mogli animirali pomak
            }
            li{ 
                float: left;
                display: block;
                margin: 5px;
                img{
                    display:block;
                    height: 200px;
                    width: auto;
                    border-radius: $radius;
                }
            }
            .slider-row-1 li{
                margin-top: 0;
            }
            .slider-row-2 li{
                margin-bottom: 0;
            }
            .slider-row-2 li:last-child{
                margin-right: 0;
            }
            .slider-controls{
                position: absolute;
                margin-top: 5px;
                right: 0;
                .tp-left,
                .tp-right{
                    width: $controls_dim;
                    height: $controls_dim;
                    border: 1px solid $blue;
                    border-radius: $radius;
                    cursor: pointer;
                    -webkit-transition: all 0.46s ease 0s;
                    transition: all 0.46s ease 0s;
                    svg{
                        fill: $blue;
                        position: relative;
                        display: block;
                        margin: 0 auto;
                        padding: 0;
                        top: 24%;
                        -webkit-transition: all 0.46s ease 0s;
                        transition: all 0.46s ease 0s;
                    }
                }
                .tp-left{
                    margin-bottom: 10px;
                    &:hover,&:focus{
                        border-color: $grey;
                        svg{
                            fill: $grey;
                            transform: translateX(-20%);
                        }
                    }
                }
                .tp-right{
                    &:hover,&:focus{
                        border-color: $grey;
                        svg{
                            fill: $grey;
                            transform: translateX(20%);
                        }
                    }
                }
            }
        }
    }
    .slider-hero{
        @include span-columns(4); // -> 4/12
        @include media($mobile) {
            @include span-columns(4);
            padding: 15px 15px 0 15px;
        }
        h1{
            font-size: 1.95em;
            margin-top: 0;
            color: $blue;
            font-weight: 700;
        }
        p{
            font-size: 1.2em;
            color: $black;
        }
    }
}
svg:not(:root) {
    overflow: hidden;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.svg-filters{
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

.hidden{
  visibility:hidden;
  opacity:0;
}

.fadeIn {
    -webkit-animation: fadein 1.1s; /* Safari, Chrome and Opera > 12.1 */
            animation: fadein 1.1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}